<%- include('../layout-header'); -%>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row">

                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <!-- Small boxes (Stat box) -->
                <div class="row">

                </div>
                <!-- /.row -->
                <!-- Main row -->
                <div class="row">
                    <!-- Left col -->
                    <section class="col-lg-12 connectedSortable">
                        <!-- Custom tabs (Charts with tabs)-->
                        <div class="card">
                            <div class="card-header bg-dark">
                                <h1 class="card-title">
                                    <i class="fas fa-home mr-1 "></i>
                                    HOME
                                </h1>
                            </div><!-- /.card-header -->
                            <div class="card-body bg-secondary">
                                <div class="row">
                                    <div class="col-5">
                                        <img src="assets/img/chat-home.png" width="100%" >
                                    </div>
                                    <div class="col-7 ">
                                        <h5>Bem vindo ao Chat Radnet Telecom !</h5>
                                        <p>Para que possamos utilizar essa ferramenta de forma adequada passaremos algumas dicas de uso:</p>
                                        <ul>
                                            <li>Qualquer erro que ocorra, reporte ao setor de desenvolvimento para ser corrigido</li>
                                            <li>Não é permitido passar seu login para outra pessoa</li>
                                            <li>Esse software é propriedade da Radnet Telecom não podendo ser utilizado para uso/benefício próprio</li>
                                        </ul>
                                    </div>
                                  
                                </div>
                            
                             
                            </div><!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </section>
                    <!-- /.row (main row) -->
                </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    
    <script type="text/javascript" src="assets/controllers/HomeController.js"></script>
    <script>
        let homeController = new HomeController();
    </script>
    <%- include('../layout-footer'); -%>